<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>The Smartest Checklist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/checklist.min.css?{{ BUILD_ID }}"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css"/>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
</head>
<body>

<div id="first-page" data-role="dialog" data-theme="e">
    <div data-role="content" class="ad-items">
        <ul data-role="listview" data-inset="true">
            <li><img src="{{ STATIC_URL }}images/yellow_checkbox.gif" class="ui-li-icon ad-image" />Create a checklist from SMS, email or your own speech</li>
            <li><img src="{{ STATIC_URL }}images/yellow_checkbox.gif" class="ui-li-icon ad-image" />Share your checklists with your friends, relatives and colleagues</li>
            <li><img src="{{ STATIC_URL }}images/yellow_checkbox.gif" class="ui-li-icon ad-image" />Tag your items and create your own library of templates</li>
            <li><img src="{{ STATIC_URL }}images/yellow_checkbox.gif" class="ui-li-icon ad-image" />Get these and other exciting features on your phone and PC</li>
        </ul>
        <br>
        <a href="index.html" data-role="button" data-ajax="false" data-theme="a" >Create your own Smartest Checklist!</a>
    </div>
    <br>
    <div id="footer-0" class="footer-docs" style="text-align:center;">
        <img src="{{ STATIC_URL }}images/tsc.gif"/>

        <p>&copy; 2012 The Smartest Checklist Project</p>
    </div>
    <!-- /footer -->
</div>

</body>
</html>