<!DOCTYPE html>
<html>
<head>
    <title>The Smartest Checklist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/checklist.min.css?{{ BUILD_ID }}"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css"/>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tinysort.min.js?{{ BUILD_ID }}"></script>
    <script src="{{ STATIC_URL }}js/checklist.main.min.js?{{ BUILD_ID }}"></script>
    <script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
</head>
<body>

<div id="offers-page" data-role="page" data-theme="e" class="main-background-b">
    {% load utils %}
    {% csrf_token %}

    <div data-role="header">
        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-left custom-icon">
            <a id="back" href="index.html" data-role="button" data-rel="back" data-icon="custom" data-theme="e">Back</a>
        </fieldset>
        <h1></h1>
        <fieldset data-role="controlgroup" data-type="horizontal" class="ui-btn-right custom-icon">
            {% if user.is_authenticated %}
                <a id="logout" href="logout.html" data-role="button" data-icon="custom" data-theme="e">Logout</a>
            {% else %}
                <a id="login" href="login.html" data-role="button" data-rel="dialog" data-icon="custom" data-theme="e">Login</a>
            {% endif %}
        </fieldset>
    </div>
    <!-- /header -->

    <div data-role="content" id="offers-content">
        <ul id="promoted-items" name="promoted-items" data-role="listview" data-filter-placeholder="Search on Offers..." data-filter="true" data-theme="e">
            {% for offer in offers %}
                <li offer_id="{{ offer.id }}" name="{{ offer.name }}">
                    <img src="{{ MEDIA_URL }}promoted_items/{{ offer.id }}.jpg" />
                    <h3>{{ offer.name }}</h3>
                    <p>{{ offer.description }} | due {{ offer.expiration_time }} in {{ offer.store.name }}
                        {% if offer.price %} | {{ offer.price|currency:'€' }} {% endif %}</p>
                </li>
            {% endfor %}
        </ul>
        <br><a id="finish" href="checklist.html" data-role="button" data-theme="a" onclick="collectPromotedItems()">Finish, Go to Checklist</a>
        <a id="refresh" href="offers.html?store_id={{ store_id }}" data-role="button" data-ajax="false">Refresh</a>
    </div>
    <!-- /content -->
    <div id="footer" class="footer-docs" style="text-align:center;">
        <img src="{{ STATIC_URL }}images/tsc.gif"/>

        <p>&copy; 2012 The Smartest Checklist Project</p>
    </div>

</div>
<!-- /page -->

<script type="text/javascript">
    bindIndexPage();
    bindOffersPage();
</script>

</body>
</html>
